@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500');

:root {
  --blue-gray-50: #f9fafb;
  --blue-gray-100: #f1f5f9;
  --blue-gray-200: #e5e7eb;
  --blue-gray-300: #d1d5db;
  --blue-gray-400: #9ca3af;
  --blue-gray-500: #64748b;
  --blue-gray-600: #4b5563;
  --blue-gray-700: #334155;
  --blue-gray-800: #1f2937;
  --blue-gray-900: #111827;
  --red-300: #fca5a5;
  --red-400: #f87171;
  --red-500: #ef4444;
  --green-300: #6ee7b7;
  --green-400: #34d399;
  --green-500: #10b981;
  --blue-300: #93c5fd;
  --blue-400: #60a5fa;
  --blue-500: #3b82f6;
}

html,
body {
  height: 100vh;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  background-color: var(--blue-400);
}

::selection {
  background-color: var(--blue-300);
}

button {
  display: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* Form */
form {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 400px;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 640px) {
  form {
    width: 400px;
  }
}

.field {
  display: flex;
  flex-direction: column;
}

.field.row {
  padding: 0.5rem 2rem;
}

.field label {
  color: var(--blue-gray-900);
}

.field input {
  margin-top: 0.5rem;
  padding: 0.5rem;
  color: var(--blue-gray-900);
  background-color: var(--blue-gray-100);
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  border: 1px solid var(--blue-gray-600);
  border-radius: 0.25rem;
  outline: none;
}

.field input::placeholder {
  color: var(--blue-gray-600);
}

.field input:focus {
  background-color: #fff;
}

.field-group {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0.5rem 2rem;
}

.selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  color: var(--blue-gray-900);
  background-color: var(--blue-gray-100);
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  border: 1px solid var(--blue-gray-600);
  border-radius: 0.25rem;
  cursor: pointer;
}

.selector:focus {
  background-color: #fff;
}

.listbox {
  position: absolute;
  margin-top: 0.5rem;
  padding: 0;
  width: 100%;
  height: 8rem;
  background-color: var(--blue-gray-100);
  border-radius: 0.25rem;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.25);
  list-style: none;
  overflow: auto;
}

.listbox .option {
  padding: 0.5rem;
}

.listbox .option.selected,
.listbox .option:hover {
  color: #fff;
  background-color: var(--blue-500);
  cursor: pointer;
}

.submit {
  display: block;
  margin: 1.5rem 2rem 2rem;
  padding: 0.5rem;
  color: #fff;
  background-color: var(--blue-500);
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  border-radius: 0.25rem;
  cursor: pointer;
}

.submit:active {
  background-color: var(--blue-400);
}

.submit:disabled {
  background-color: var(--blue-300);
}

/* Card */
.card {
  margin: 0 auto -70px;
  display: flex;
  width: 300px;
  height: 210px;
  color: #fff;
  background-color: var(--blue-gray-800);
  border-radius: 0.5rem;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.25);
  transform-style: preserve-3d;
  transition: transform 1s ease-in-out;
  perspective: 400px;
}

.card .half {
  display: flex;
  flex-direction: column;
  height: 105px;
}

/* Logo */
.big-leaf {
  display: flex;
  flex-direction: column;
  width: 30px;
  height: 30px;
  background-color: var(--blue-gray-600);
  border-radius: 15px 0 15px;
}

.medium-leaf {
  display: flex;
  flex-direction: column;
  margin: auto auto 0 0;
  width: 20px;
  height: 20px;
  background-color: var(--blue-gray-500);
  border-radius: 10px 0 10px;
}

.small-leaf {
  margin: auto auto 0 0;
  width: 10px;
  height: 10px;
  background-color: var(--blue-gray-400);
  border-radius: 5px 0 5px;
}

/* Title - SubTitle */
.leaf-bank {
  display: flex;
  font-family: 'Ubuntu', sans-serif;
}

.leaf-bank.row {
  flex-direction: row;
  align-items: flex-end;
  margin: 0.5rem;
}

.leaf-bank.col {
  flex-direction: column;
  margin: 0 auto 0 0.5rem;
}

.leaf-bank .title {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.1rem;
  text-transform: uppercase;
}

.leaf-bank .subtitle {
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-transform: lowercase;
}

.leaf-bank.row .subtitle {
  margin-left: 0.25rem;
}

/* Card Content */
.icons {
  display: flex;
  align-items: center;
  margin-top: auto;
  padding-bottom: 0.25rem;
}

.card-number {
  margin: 0.5rem;
  height: 1.125rem;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
}

.corners {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  padding: 0.5rem;
}

.verso .card-number,
.verso .corners {
  color: var(--blue-gray-400);
  transform: rotateY(180deg);
}

.card-corner {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

.card-corner .key {
  font-size: 0.75rem;
  font-weight: 400;
  text-transform: lowercase;
}

.card-corner .value {
  margin-top: 0.25rem;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.card-corner .value.truncate {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.magnetic-tape {
  height: 30px;
  background-color: var(--blue-gray-900);
}

.crypto {
  margin: 0;
  padding: 0.5rem;
  height: 0.875rem;
  font-size: 0.875rem;
  letter-spacing: 0.1rem;
  color: var(--blue-gray-900);
  background-color: #fff;
  text-align: right;
}

/* Modal */
.modal-support {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 999;
  transition: opacity 500ms ease-in-out;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.25);
  z-index: 9999;
  transition: transform 500ms ease-in-out;
}

.modal-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  width: 48px;
  height: 48px;
  color: var(--blue-500);
  background-color: var(--blue-300);
  border-radius: 50%;
}

.modal-title {
  margin-bottom: 0.5rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.modal-description {
  margin: 0 1rem 1rem;
  font-size: 0.875rem;
  text-align: justify;
}
